:root {
    --light-blue: rgb(84, 175, 254);
    --dark-blue: rgb(16, 142, 252);
}

body {
    margin: 0;
    font-family: 'Fredoka', sans-serif;
    width: 300px;
    border: 4px outset var(--dark-blue);
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

h1 {
    font-size: 24px;
}

h1,
h2,
h3 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3px;
}

#inputs {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

input {
    padding: 6px 10px;
    margin-bottom: 3px;
    border-radius: 25px;
}

label {
    font-size: larger;
}

button {
    text-align: center;
    font-size: larger;
    margin: 3px 0;
    padding: 10px 20px;
    background-color: var(--light-blue);
    color: white;
    border: 2px solid var(--dark-blue);
    border-radius: 25px;
    cursor: pointer;
}

button:hover {
    background-color: var(--dark-blue);
    border: 2px solid var(--light-blue);
}

.hide {
    display: none;
}

#information {
    border: 2px solid black;
    border-radius: 25px;
    background-color: var(--light-blue);
    box-shadow: 3px 5px 2px rgb(120, 120, 120);
    margin: 0 10px;
    margin-bottom: 7px;
    color: rgb(255, 255, 255);
}

#information h2 {
    font-size: 18px;
}

#information h2,
p {
    text-shadow: 1.25px 1.5px #000000;
}

p {
    font-size: 16px;
    text-align: center;
    line-height: 40%;
}

.location {
    padding-bottom: 2px;
    border-bottom: 1px solid black;
}

.icon,
.description {
    display: flex;
    justify-content: center;
}

#error {
    margin-bottom: 5px;
}

footer {
    text-align: center;
}

footer a {
    text-decoration: none;
    color: gray;
}

footer a:hover {
    text-decoration: underline;
}
